<html>
	<head>
		<link href="bootstrap.css" rel="stylesheet" type="text/css">
		<link href="styles.css" rel="stylesheet" type="text/css">
		<title> Contact Email</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body class='backpart'>	
		<div class='infobox' style='col-12'>
			<div class='ibtitle'>
				<strong>HOLD OUT A LITTLE LONGER
				</strong>
			</div>
			<div class='ibbodytext'>
				Fill out the form below and we will send you an email with a simple liability form for you to sign.  After that, we will ship you your free can of Kool-Aid, satisfaction guaranteed.  We've never heard a bad word from our wonderful customers, because they already moved on to the afterlife!
			</div>
		</div>
		<div class=' centered ' >
			<div>
				<div id="inputArea">
				<form action="/test" method="get" >	
					<label for="like">Name:</label>
					<input type="text" id="subject" name="name" placeholder="Enter Your Name" />				
					<label for="like">Subject:</label>
					<input type="text" id="subject" name="subject" placeholder="Enter subject" />
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" placeholder="Enter Recipient Email Address" />
					<label for="message">Message:</label>
					<textarea id="message" name="message" placeholder="Enter Message"></textarea>
					<input id="send" value="Send" type="submit" />	
				</form>				
			</div>
			</div>
			<div id='register' class='button'>BRING ON THE AFTERLIFE!</div>
		</div>
			<div class="footerbottom">
			<div class="fbTopRow">
				&nbsp;
			</div>
			<div class="fbBottRow">
				&nbsp;
			</div>
			<div class="fbBottRow">
				@ShadyCult 2016
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>